ul,li,body,p{
	margin:0;
	padding:0;
	list-style: none;
	cursor: pointer;
}
html{
	font-size: 10px;
	font-family: Arial, Verdana, "宋体",'Microsoft YaHei';
}
span{
	color: #999;
}
a{
	text-decoration:none;
}
a:hover{
	color:red;
}
/**********   TOP部分   **********/
.top-list{
	width: 988px;
	height: 32px;
	background: #f3f3f3; 
	border:1px solid #e9e9e9;
	margin:50px auto 0;
	padding:5px 0;
	line-height: 32px;
}
.top-list span:nth-child(3){
	margin-left: 80px;
}
.top-list span:nth-child(4){
	margin-left: 460px;
}
.top-list span:nth-child(5){
	margin-left: 60px;
}
.top-list span:nth-child(6){
	margin-left: 80px;
}
.top-list span:nth-child(7){
	margin-left: 25px;
}

/**********   主体部分   **********/
.shopping-list{
	width: 990px;
	margin:10px auto;
	border:1px solid #ddd;
	border-top:2px solid gray;
}
.shopping-list header{
	padding:5px 10px;
	height: 26px;
}
.shopping-list header .left{
	width: 750px;
	float: left;
	line-height: 26px;
}
.shopping-list header .left>div:nth-child(1){
	margin:3px 10px 0 8px;
	padding:1px 10px;
	width: 24px;
	height: 16px;
	text-align: center;
	color: #f48719;
	border:1px solid  #f48719;
	line-height: 16px;
	position: relative;
	float: left;
}
.shopping-list header .left div:nth-child(1)>div{
	width: 5px;
	height: 6px;
	background: url(image/cart-line-02.png);
	background-position: 0 -7px;
	position: absolute;
	bottom:-6px;
	margin-left: -11px;
}
.shopping-list header .left a>span{
	color:black;
}
.shopping-list header .left a:hover span{
	color:red;
}
.shopping-list header .right{
	width: 114px;
	float: left;
	text-align: right;
}

.box{
	box-sizing: border-box;
	padding:0 10px 0 40px;
	position: relative;
	height: 107px;
}
.box-bg{
	background: #fff4e8;
}
.box>div:nth-child(1){
	position: absolute;
	left: 10px;
	height:107px;
	top: 0;
}
.box>div:nth-child(1)>div:first-child{
	width:10px;
	height: 20px;
	padding-top:15px;
	background: url(image/cart-line-02.png) no-repeat;
	background-position: 6px -13px;
}
.box>div:nth-child(1)>div:last-child{
	height: 70%;
	position: relative;
	left: 5px;
	top:-3px;
	background: url(image/cart-line-02.png) repeat-y;
	background-position: -5px 0px;
}
.content{
	border-top:1px solid #ddd;
	padding-top:15px;
}
.obj{
	width: 300px;
	height: 80px;
	float: left;
}
.obj img{
	float: left;
	margin-right: 12px;
}
.content>p:nth-child(2){
	width: 138px;
	height:80px;
	padding:0 10px;
	color: #666;
	float: left;
}
.content>div:nth-child(3){
	width: 120px;
	height:80px;
	padding:0 40px 10px;
	float:left;
	text-align: right;
	margin-top:3px;
}
.content>div:nth-child(3)>div{
	width: 76px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	float: right;
	color: red;
	background: white;
	position: relative;
	z-index: 1;
	border:1px solid red;
}

.content>div:nth-child(4){
	width: 80px;
	height: 22px;
	float: left;
	text-align: center;
	line-height: 20px;
}
.hidden{
	display: none;
}
.content .minus,.content .plus{
	width: 16px;
	height: 19px;
	float: left;
	border:1px solid #999;
	background: white;
}
.content .minus{
	border-right:none;
}
.content .plus{
	border-left:none;
}
.content .jianshu{
	width: 42px;
	padding:2px 0;
	float: left;
	border:1px solid #999;
	text-align: center;
}
.content>div:nth-child(4) p{
	color:#999;
}
.content>div:nth-child(4) div{
	-webkit-user-select:none;
}
.content strong{
	width: 100px;
	height:20px;
	text-align: right;
	display: inline-block;
	float: left;
}
.content>div:last-child{
	width: 75px;
	height:40px;
	float: right;
}
.content>div:last-child a{
	color:#666;
}
.content>div:last-child a:hover{
	color:red;
}

/**********   footer部分   **********/
footer{
	width:988px;
	height: 48px;
	border:1px solid #ddd;
	margin:10px auto;
	line-height: 48px;
	position: relative;
}
footer .left{
	position: absolute;
	top: 0;
	left: 50px;
}
footer .left a{
	line-height: 48px;
	margin-left: 10px;
	color: #666;
}
footer .left a:hover{
	color: red;
}

footer .right{
	position: absolute;
	top: 0;
	left: 620px;
}
footer .right p:first-child{
	float: left;
}
footer .right p:first-child>span>span{
	color:#e4393c;
	font-weight: bold;
	margin:0 3px;
	font-size: 14px;
}
footer .right p:nth-child(2){
	float: left;
	margin-left: 10px;
	line-height: 20px;
	width: 135px;
	height: 48px;
}
footer .right p:nth-child(2)>span:nth-child(2){
	color: #e4393c;
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	font-family: verdana;
}
footer .right img{
	position: relative;
	top: 3px;
	left: 6px;
}
footer .right .total{
	text-align: right ;
}
footer .right .save{
	height: 30px;
	position: absolute;
	right: 10px;
	top: 10px;
}
footer .jieSuan{
	width: 96px;
	height: 48px;
	text-align: center;
	color: white;
	font:18px/48px 'Microsoft YaHei',arial;
	float: right;
	background: #e4393c;
}